<div class="my-5 ">

    <div class="py-5 bg-body-tertiary container-fluid" *ngIf="productData != null , else noData">
        <div class="d-flex justify-content-between my-4 mx-4">
            <h1 class="mx-0">Cart Shop :</h1>
            <button [routerLink]="['/checkout',productData.data._id]" class="btn  fw-bolder btn-outline-success border-2 w-25 d-block ms-auto">Check Out</button>

        </div>
        <div class="d-flex justify-content-between mx-4">
            
            <h5  class="text-center  text-main fw-bolder"><span class="text-danger">Total Price :</span> {{productData.data.totalCartPrice | currency}}</h5>    
            <h5 class=" fw-bolder">Total Number of items : <span class="text-main"> {{productData.numOfCartItems}}</span></h5>
        </div>

        <div *ngFor="let item of productsCart" class="py-4 border-bottom border-3 row justify-content-between align-items-center">
            <div class="col-md-8">
                <div class="row align-items-center">
                    <div class="col-md-3"><img class="w-100" [src]="item.product.imageCover" alt=""></div>
                    <div class="col-md-9">
                        <h5>{{item.product.title}}</h5>
                        <h5>{{item.price|currency}}</h5>
                        <button (click)="removeProduct(item.product._id)" class="btn btn-outline-danger">Remove  <i class="fa-solid fa-trash fa-lg "></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <span (click)="updateQuantity(item.product._id,item.count+1)" class="bg-success cursor-pointer text-white rounded-3 p-2 fa-lg">+</span>
                <span class="mx-3">{{item.count}}</span>
                <span (click)="updateQuantity(item.product._id,item.count-1)" class="bg-danger cursor-pointer text-white rounded-3 p-2 fa-lg">-</span>
            </div>
        </div> 
        <button class="btn btn-danger d-block m-auto my-3" (click)="removeAllCart()">Clear Cart</button>

    </div>
    <ng-template #noData class="py-5 my-5">
        <div  class="alert alert-danger"><p>Cart Is Empty</p></div>
    </ng-template>
</div>
