<div class="py-5">
    <h2>logIn Now</h2>
    <form (ngSubmit)="submitLogIn(logInForm)" [formGroup]="logInForm" action="" class="w-75 m-auto">
        <div class="alert alert-danger" *ngIf="messageError">{{messageError}}</div>

        <div class="my-3">
            <label for="email">Email</label>
            <input formControlName="email" id="email" name="email" class="form-control" type="email">
            <div class="alert alert-danger" *ngIf="logInForm.get('email')?.errors && logInForm.get('email')?.touched">
                <p *ngIf="logInForm.get('email')?.errors?.['required']">Email is required </p>
                <p *ngIf="logInForm.get('email')?.errors?.['email']">Email is Not Valid </p>
            </div>
        </div>
        <div class="my-3">
            <label for="password">Password</label>
            <input formControlName="password" id="password" name="password" class="form-control" type="password">
            <div class="alert alert-danger"
                *ngIf="logInForm.get('password')?.errors && logInForm.get('password')?.touched">
                <p *ngIf="logInForm.get('password')?.errors?.['required']">password is required </p>
                <p *ngIf="logInForm.get('password')?.errors?.['pattern']">password is Not Valid </p>
            </div>

        </div>


        <button *ngIf="!loading" [disabled]="!logInForm.valid" type="submit"
            class="btn btn-success d-block ms-auto">logIn</button>
        <button *ngIf="loading" type="submit" class="btn btn-success d-block ms-auto"><i
                class="fa-solid fa-spinner fa-spin"></i></button>
            </form>
            <div class="w-75 m-auto">

                <a routerLink="/forgetPassword" class="nav-link text-success fw-bolder ">Forget Password...............</a>
            </div>

</div>