<div class="py-5">
    <h2>Reset Password Now</h2>
    <form (ngSubmit)="submitResetPassword(resetPasswordForm)" [formGroup]="resetPasswordForm" action="" class="w-75 m-auto">
        <div class="alert alert-danger" *ngIf="messageError">{{messageError}}</div>

        <div class="my-3">
            <label for="email">Email</label>
            <input formControlName="email" id="email" name="email" class="form-control" type="email">
            <div class="alert alert-danger" *ngIf="resetPasswordForm.get('email')?.errors && resetPasswordForm.get('email')?.touched">
                <p *ngIf="resetPasswordForm.get('email')?.errors?.['required']">Email is required </p>
                <p *ngIf="resetPasswordForm.get('email')?.errors?.['email']">Email is Not Valid </p>
            </div>
        </div>
        <div class="my-3">
            <label for="newPassword">New Password</label>
            <input formControlName="newPassword" id="newPassword" name="newPassword" class="form-control" type="password">
            <div class="alert alert-danger"
                *ngIf="resetPasswordForm.get('newPassword')?.errors && resetPasswordForm.get('newPassword')?.touched">
                <p *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required']">New Password is required </p>
                <p *ngIf="resetPasswordForm.get('newPassword')?.errors?.['pattern']">New Password is Not Valid </p>
            </div>

        </div>


        <button *ngIf="!loading" [disabled]="!resetPasswordForm.valid" type="submit"
            class="btn btn-success d-block ms-auto">Reset New Password</button>
        <button *ngIf="loading" type="submit" class="btn btn-success d-block ms-auto"><i
                class="fa-solid fa-spinner fa-spin"></i></button>
            </form>
            

</div>