<div class="row g-4">
    <div class="col-md-3 " *ngFor="let brand of brands">
        <div class="product cursor-pointer border">
            <img [src]="brand.image" class="w-100" alt="">
            <h6 class="text-center">{{brand.name}}</h6>
        </div>
    </div>

</div>

<div class="d-flex justify-content-center my-4">
    <nav aria-label="...">
        <ul class="pagination">
          
          <li class="page-item active cursor-pointer" aria-current="page"><a class="page-link page-num" >1</a></li>
          <li><a class="page-link page-num cursor-pointer">2</a></li>
          
        </ul>
      </nav>
</div>