<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container">
    <a class="navbar-brand"><img src="../../../assets/images/freshcart-logo.svg" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul *ngIf="isLogIn != null" class="navbar-nav m-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['is-active']" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['is-active']" routerLink="wishlist">Wishlist</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['is-active']" routerLink="categories">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['is-active']" routerLink="brands">Brands</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['is-active']" routerLink="products">Products</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">



        <li *ngIf="isLogIn == null" class="nav-item">
          <a class="nav-link" routerLink="register">register</a>
        </li>
        <li *ngIf="isLogIn == null" class="nav-item">
          <a class="nav-link" routerLink="logIn">logIn</a>
        </li>
        <li *ngIf="isLogIn != null" class="nav-item position-relative mx-1">


          <a class="nav-link position-relative" routerLink="cart"><i class="fa-solid  fa-2xl fa-cart-shopping "><span
                style="top: 15%; left: 85%;"
                class="position-absolute  translate-middle badge rounded-circle fs-6 bg-main">
                {{countNumber}}</span></i></a>
        </li>
        <li (click)="logout()" *ngIf="isLogIn != null" class="nav-item">
          <a class="nav-link">logOut</a>
        </li>
      </ul>

    </div>
  </div>
</nav>