<div class="py-5" class="forgetPassword">
    <h2>Email for new password</h2>
    <form (ngSubmit)="submitForgetPassword(forgetPasswordEmailForm)" [formGroup]="forgetPasswordEmailForm" action="" class="w-75 m-auto">
        <div class="alert alert-danger" *ngIf="messageError">{{messageError}}</div>

        <div class="my-3">
            <label for="email">Email</label>
            <input formControlName="email" id="email" name="email" class="form-control" type="email">
            <div class="alert alert-danger" *ngIf="forgetPasswordEmailForm.get('email')?.errors && forgetPasswordEmailForm.get('email')?.touched">
                <p *ngIf="forgetPasswordEmailForm.get('email')?.errors?.['required']">Email is required </p>
                <p *ngIf="forgetPasswordEmailForm.get('email')?.errors?.['email']">Email is Not Valid </p>
            </div>
        </div>
       

        <button *ngIf="!loading" [disabled]="!forgetPasswordEmailForm.valid" type="submit"
            class="btn btn-success d-block ms-auto">Send Email</button>
        <button *ngIf="loading" type="submit" class="btn btn-success d-block ms-auto"><i
                class="fa-solid fa-spinner fa-spin"></i></button>
            </form>
            

</div>
<div style="display: none;" class="py-5" class="restCode">
    <h2>Enter Code</h2>
    <form (ngSubmit)="sendResetCode(resetCodeForm)" [formGroup]="resetCodeForm" action="" class="w-75 m-auto">
        <div class="alert alert-danger" *ngIf="messageError">{{messageError}}</div>

        <div class="my-3">
            <label for="resetCode">Reset Code</label>
            <input formControlName="resetCode" id="resetCode" name="resetCode" class="form-control" type="text">
            <div class="alert alert-danger" *ngIf="resetCodeForm.get('resetCode')?.errors && resetCodeForm.get('resetCode')?.touched">
                <p *ngIf="resetCodeForm.get('resetCode')?.errors?.['required']">code is required </p>
                <p *ngIf="resetCodeForm.get('resetCode')?.errors?.['pattern']">code is Not Valid </p>
            </div>
        </div>
       
        <button *ngIf="!loading" [disabled]="!resetCodeForm.valid" type="submit"
            class="btn btn-success d-block ms-auto">Send Code</button>
        <button *ngIf="loading" type="submit" class="btn btn-success d-block ms-auto"><i
                class="fa-solid fa-spinner fa-spin"></i></button>
            </form>
            

</div>